<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Password</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'saraa_app/css/enter_password.css' %}">
</head>
<body>

<div class="container">
    <h2>Enter Your Password 🙂</h2>
    <form action="{% url 'enter_password' %}" method="post">
        {% csrf_token %}
        <!-- Display the email in a disabled input as a reference -->
        <input type="email" name="email_reference" value="{{ request.session.email_for_signin }}" disabled>
        <input type="password" name="password" placeholder="Enter your password" required>
        <button type="submit">Login</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>

