<!DOCTYPE html>
<html lang="en">
<title>Saraa</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'saraa_app/css/home_page.css' %}">
</head>
</head>

<body>

    <header class="header">
        <a href="#" class="Logo">Saraa</a>
        <nav class="navbar">
            <a href="{% url 'sign_in' %}">Login</a>
            <a href="{% url 'sign_up' %}">Sign Up</a>
        </nav>
    </header>
</body>

</html>